@import "compass";
@import "_compass-hdpi";

/* lg */
@media (min-width: 1200px) {
}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
}


/* sm */
@media (min-width: 768px) and (max-width: 991px) {
    .main-menu {
            position: relative;
            top: 0;
            left: 0;
            margin-top: 20px;
            text-align:center;
            margin-right: 20px;
        }
        h1 {
            margin-top: 10px;
        }
}

/* xs */
@media (max-width: 767px) {
    #top {
        background-position: 50% 200%;

    }
    .main-menu {
            position: relative;
            top: 0;
            left: 0;
            margin-top: 20px;
            text-align:center;
            margin-right: 20px;
        }
        h1 {
            margin-top: 10px;
        }
}

/* XS Portrait */
@media (max-width: 480px) {
    .main-menu {
            position: relative;
            top: 0;
            left: 0;
            margin-top: 20px;
            text-align:center;
            margin-right: 20px;
        }
        #top header {
            margin-top: 0;
        }
}